# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/lib/generated/prisma

docs/Avances-Planeacion/Segundo_Avance_del_Proyecto.md
docs/Avances-Planeacion/Segundo_Parcial_Proyecto-1.pdf
docs/Diagramas/Casos de uso/Administrador de sistema.png
docs/Plan-Convergencia/01-matriz-trazabilidad-casos-de-uso.md
docs/Plan-Convergencia/03-acta-decisiones-D1-D2-D3.md
docs/Plan-Convergencia/02-matriz-trazabilidad-actividades.md
.gitignore
docs/Plan-Convergencia/07-claude-design-contexto.md
docs/Plan-Convergencia/05-modelo-dominio-v2-alineado-implementacion.md
.gitignore
docs/Plan-Convergencia/GUIA-IMPLEMENTACION-CU-DETALLADA.md
